  <link rel="stylesheet" href="css/style.css">

  <!-- NAVBAR -->
<header class="navbar glass">


  <div class="logo">
  <img src="assets/imgs/logo.png" alt="Darpan Studio Logo">
</div>


  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav id="navMenu">
    <a href="/#home">Home</a>
    <a href="/#about">About</a>
    <a href="/#services">Services</a>
    <a href="/#portfolio">Portfolio</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>

